<%- include('./includes/head.ejs') %>
    <div class="container">
        <% 
            function formatDate(d) {
                return `${d.getDate()}/${d.getMonth() + 1}/${d.getFullYear()}`
            }
            const formatTime = date => {
                const h = date.getHours(), m = date.getMinutes();
                const hh = h < 10 ? '0' + h : h;
                const mm = m < 10 ? '0' + m : m;
                return `${hh} : ${mm}`;
            }
        %>
        <h2 class="text-center">Lương tháng</h2>
        <div>
            <ul class="nav nav-tabs">
                <li class="dropdown" >
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Chọn tháng </a>
                    <ul class="dropdown-menu" role="tablist">
                        <% hourMap.forEach((value, key) => { %>
                            <li>
                                <a class="nav-link" data-toggle="tab" href="#<%= key %>" role="tab"><%= key %></a>
                            </li>
                        <% }) %>
                    </ul>
              </ul>
              <div class="tab-content" id="myTabContent">
                <% hourMap.forEach((value, key) => { %>
                    <div class="tab-pane fade" id="<%= key %>" role="tabpanel">
                        <p class="mt-4">Tổng số giờ đã làm: <%= value %></p>
                        <p>Số giờ đã làm thêm: <%= value - 30*8 %></p>
                        <p><strong>Lương: <%= staff.salaryScale*3000000 + (value - 30*8)*200000 %></strong></p>
                    </div>
                <% }) %>
              </div>
        </div>
        <h3 class="text-center mt-4">Danh sách giờ làm</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Ngày</th>
                <th scope="col">Nơi làm việc</th>
                <th scope="col">Số giờ nghỉ phép</th>
                <th scope="col">Giờ bắt đầu</th>
                <th scope="col">Giờ kết thúc</th>
              </tr>
            </thead>
            <tbody>
                <% submitsions.forEach(s => { 
                    let total = 0;
                %>
                    <% s.items.forEach((i, idx) => { %>
                        <tr>
                            <td><%= formatDate(s.date) %></td>
                            <td><%= i.workplace %></td>
                            <td><%= s.breakTime %></td>
                            <td><%= formatTime(i.startTime) %></td>
                            <td><%= i.endTime ? formatTime(i.endTime) : 'Chưa kết thúc' %></td>
                        </tr>
                        <% if (i.endTime) {
                            total += i.endTime.getTime() - i.startTime.getTime();
                            if (idx === s.items.length - 1) {
                                total = Math.round(total/(1000*60*60)) + s.breakTime;
                        %> 
                            <tr class="text-bold">
                                <td><strong><%= formatDate(s.date) %></strong></td>
                                <td colspan="2"><strong>Tổng số giờ đã làm: <%= total %>h</strong></td>
                                <td colspan="2"><strong>Số giờ làm thêm: <%= total - 8 %>h</strong></td>
                            </tr>
                        <% }} %>
                    <% }) %>
                <% }) %>
            </tbody>
          </table>
    </div>
    <%- include('./includes/end.ejs') %>